@{
    ViewData["Title"] = "Sản phẩm";
    string categoryName = ViewData["categoryName"] as string;
    int currentPage = (int)ViewData["currentPage"];
    int maxPage = (int)ViewData["maxPage"];
    int categoryId = -1;
    if (ViewData["categoryId"] != null)
    {
        categoryId = (int)ViewData["categoryId"];
    }

    string option = "";
    if (ViewData["option"] != null)
    {
        option = ViewData["option"] as string;
    }

    string search = ViewData["search"] as string;
}
@model IEnumerable<Product>
<style>
    .category-header {
        background-color: #dc3545;
        color: white;
        padding: 40px 0;
        margin-bottom: 30px;
    }
</style>
<header class="category-header">
    <div class="container">
        <h1 class="display-4">@categoryName</h1>
        <p class="lead">Khám phá bộ sưu tập @categoryName.ToLower() đa dạng của chúng tôi</p>
    </div>
</header>
<div class="row mb-4">
    <div class="col-md-4">
        <p>
            Hiển thị @ViewData["minProduct"]-@ViewData["maxDisplayProduct"] trong số @ViewData["maxProduct"] sản phẩm </ p >
    </div>
    <div class="col-md-8 text-md-end">
        <label class="form-label" for="category">Loại</label>
        <select id="category" onchange="directIntoCategory(this.value);" class="form-select d-inline-block w-auto">

            @if (categoryId == -1)
            {
                <option selected value="-1">Tất cả</option>
            } else
            {
                <option value="-1">Tất cả</option>
            }

            @if (categoryId == 1)
            {
                <option selected value="1">Bát</option>
            } else
            {                
                <option value="1">Bát</option>
            }

            @if (categoryId == 2)
            {
                <option selected value="2">Đĩa</option>
            } else
            {
                <option value="2">Đĩa</option>
            }

            @if (categoryId == 3)
            {
                <option selected value="3">Cốc</option>
            } else
            {
                <option value="3">Cốc</option>
            }

            @if (categoryId == 4)
            {
                <option selected value="4">Bộ</option>
            } else
            {
                <option value="4">Bộ</option>
            }
        </select>
         <select onchange="directIntoNewPage(this.value);" class="form-select d-inline-block w-auto ml-3">
            @if (option.Equals("default"))
            {
            <option selected value="default">Sắp xếp theo mặc định</option>
            } else
            {
            <option value="default">Sắp xếp theo mặc định</option>
            }

            @if (option.Equals("asc"))
            {
            <option selected value="asc">Giá: Thấp đến cao</option>
            } else
            {
            <option value="asc">Giá: Thấp đến cao</option>
            }

            @if (option.Equals("desc"))
            {
                <option selected value="desc">Giá: Cao đến thấp</option>
            } else
            {
            <option value="desc">Giá: Cao đến thấp</option>
            }

            @if (option.Equals("new"))
            {
            <option selected value="new">Mới nhất</option>
                
            } else
            {
            <option value="new">Mới nhất</option>
                
            }
            @if (option.Equals("old"))
            {
                
            <option selected value="old">Cũ nhất</option>
            } else
            {
            <option value="old">Cũ nhất</option>
                
            }
        </select>
    </div>

</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @foreach (Product product in Model)
    {
        <div class="col">
            <div class="card product-card h-100">
                <img src="/img/@product.Image" class="card-img-top product-image" alt="Bát cơm gốm">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Thêm lúc @product.CreatedAt.GetValueOrDefault().ToString("d")</p>
                    <p class="card-text"><strong>@product.Price.ToString("0")₫</strong></p>
                    <a href="/Product/Details?id=@product.ProductId" class="btn btn-primary w-100">Xem thêm chi tiết</a>
                </div>
            </div>
        </div>
    }
</div>

<nav aria-label="Page navigation" class="my-5">
    <ul class="pagination justify-content-center">
        <li class="page-item @(currentPage <= 1 ? "disabled" : "")">
            <a class="page-link" href="#" onclick="GoPrevious();" tabindex="-1" aria-disabled="@(currentPage > 1 ? "false" : "true")">Trước</a>
        </li>
        @if (currentPage == 1)
        {
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">1</a>
            </li>
            @for (int index = 2; index <= Math.Min(3, maxPage); index++)
            {
                <li class="page-item"><a class="page-link" onclick="GoTo(@index)" href="#">@index</a></li>
            }
        }
        else if (currentPage == maxPage)
        {
            @for (int index = maxPage - 3; index < maxPage; index++)
            {
                <li class="page-item"><a class="page-link" onclick="GoTo(@index)" href="#">@index</a></li>
            }
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">@maxPage</a>
            </li>
        }
        else
        {
            <li class="page-item"><a class="page-link" onclick="GoTo(@(currentPage-1)" href="#">@(currentPage - 1)</a></li>

            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">@currentPage</a>
            </li>
            <li class="page-item"><a class="page-link" onclick="GoTo(@(currentPage+1))" href="#">@(currentPage + 1)</a></li>
        }
        <li class="page-item  @(currentPage >= maxPage ? "disabled" : "")">
            <a class="page-link" href="#" onclick="GoNext();" aria-disabled="@(currentPage == maxPage?"true":"false")">Sau</a>
        </li>
    </ul>
</nav>

<script>
    function directIntoNewPage(value) {
        let currentUrl = new URL(window.location.href);

        if (value) {
            currentUrl.searchParams.set('categoryId', @(categoryId == -1 ? "null" : categoryId));
            currentUrl.searchParams.set('option', value);
            currentUrl.searchParams.set('page', 1);
            currentUrl.searchParams.set('search', '');
        } else {
            currentUrl.searchParams.delete('option');
        }

        window.location.href = currentUrl;
    }
    function directIntoCategory(value) {
        let currentUrl = new URL(window.location.href);

        if (value) {
            currentUrl.searchParams.set('option', '');
            currentUrl.searchParams.set('categoryId', (value == '-1' ? '' : value));
            currentUrl.searchParams.set('page', 1);
            currentUrl.searchParams.set('search', '');
        } else {
            currentUrl.searchParams.delete('categoryId');
        }

        window.location.href = currentUrl;
    }
    function GoNext() {
        let newUrl = `/Product?categoryId=@(categoryId == -1 ? "" : categoryId)&option=@option&search=@search&page=@(currentPage + 1)`;
        window.location.href = newUrl;
    }
    function GoPrevious() {
        let newUrl = `/Product?categoryId=@(categoryId == -1 ? "" : categoryId)&option=@option&search=@search&page=@(currentPage - 1)`;
        window.location.href = newUrl;
    }
    function GoTo(pageNumber) {
        let newUrl = `/Product?categoryId=@(categoryId == -1 ? "" : categoryId)&option=@option&search=@search&page=${pageNumber}`;
        window.location.href = newUrl;
    }
</script>